# FORMULAIRE-EMMANUEL
center{
    font-size: large;
} 
#A{
    color: blue;
    font-weight: 70;
    font-size: 80px;
}
#B{
    color: red;
    font-weight: 70;
    font-size: 80px;
}
#C{
    color: yellow;
    font-weight: 70;
    font-size: 80px;
}
#D{
    color: blue;
    font-weight: 70;
    font-size: 80PX;
}

#E{
    color: green;
    font-weight: 70;
    font-size: 80px;
}
#F{
    color: red;
    font-weight: 70;
    font-size: 80px;
}
